:root {
	--text:				#221f20;
	--link:				#98999d;
	--bgr:				#fff;
	--altbgr:			#eee;
	--selection:		#ccc;
	--warning:			#ff0000;
}
@font-face {
	font-family:		Univers;
	src:				url(/Private/Univers.ttf);
}
@font-face {
	font-family:		UniversBold;
	src:				url(/Private/UniversBold.ttf);
}

::selection {
	background-color:	var(--selection);
}
html {
	position:			relative;
	min-height:			100%;
}
body {
	font-family:		Univers, Segoe UI, sans-serif;
	color:				var(--text);
}
hr {
	width:				auto;
	background-color:	var(--text);
	margin:				0 16px 0 0;
}
h4, h5, h6 {
	font-family:		UniversBold, Segoe UI, sans-serif !important;
	font-weight:		700;
}
strong {
	font-family:		UniversBold, Segoe UI, sans-serif !important;
}
a {
	color:				var(--link) !important;
}
a:hover {
	color:				var(--text) !important;
	text-decoration:	none;
}
nav {
	background-color:	var(--bgr) !important;
	border-top:			1px solid var(--link);
	margin:				2em 0;
}
nav li {
	margin:				0 5px;
	font-weight:		700;
	font-size:			16px;
}
footer {
	border-top:			1px solid var(--link);
	position:			absolute;
	bottom:				0;
	width:				100%;
	margin-top:			50px;
	line-height:		35px;
	font-size:			12px;
}
footer div {
	display:			table;
}
footer span {
	display:			table-cell;
}
form {
	margin-bottom:		30px;
}
button[type=submit], input, textarea {
	resize:				none;
	width:				75%;
	padding:			5px 8px;
	border:				1px solid var(--text);
	background-color:	var(--altbgr);
	font-size:			12px;
}
input:focus, textarea:focus {
	outline:			var(--text) solid 2px;
}
button:hover {
	background-color:	var(--link);
}
textarea {
	height:				160px;
}

.separator {
	display:			none;
	padding:			.4rem 0;
	color:				var(--link);
}
.curriculum {
	margin-top:			-15px;
	margin-bottom:		45px;
	padding:			0;
	line-height:		150%;
}
.curriculum li {
	padding:			8px;
}
.curriculum .headline {
	margin-left:		13%;
}
.curriculum .year {
	width:				10%;
	margin-right:		3%;
	white-space:		nowrap;
	text-align:			right;
	font-size:			.7em;
}
.curriculum .text {
	width:				87%;
}
.vertical-aligner {
	height:				100%;
	vertical-align:		middle;
}
.gallery-cell {
	margin-bottom:		50px;
	padding:			0 25px;
	text-align:			center;
	white-space:		nowrap;
}
.gallery-cell img {
	width:				100%;
}
.artwork img, .artwork-info {
	max-width:			60%;
}
.artwork {
	width:				100%;
	margin-bottom:		15px;
	text-align:			center;
}
.artwork-info {
	margin:				0 auto;
	text-align:			left;
}
.centered-span {
	width:				100%;
	text-align:			center;
}
.navigator-icon {
	position:			fixed;
}
.navigator-icon i {
	font-size:			32px;
}
.navigator-left {
	top:				50%;
	left:				10%;
}
.navigator-close {
	top:				15%;
	right:				5%;
}
.navigator-right {
	top:				50%;
	right:				10%;
}
.navigator-row {
	display:			none;
	margin-top:			-15px;
	font-size:			24px;
}
.navigator-row span {
	display:			table-cell;
}
.dropdown-item:active {
	background-color:	var(--altbgr);
}
.row {
	margin-left: 		0 !important;
	margin-right: 		0 !important;
}
.navbar-brand {
	padding-top:		0 !important;
	margin-right:		0 !important;
	color:				var(--text) !important;
}
.navbar-brand:hover {
	color:				var(--link) !important;
}
.modal-dialog {
	margin:				0 auto !important;
	max-width:			100vw !important;
	text-align:			center;
}
.modal-dialog img {
	max-height:			100vh;
}

#active-link {
	color: 				var(--text) !important;
}
#vita-photo {
	width:				100%;
}
#form-feedback {
	color:				var(--warning);
}
#form-success {
	color:				var(--text);
}
#impressum-link {
	text-align:			right;
}
#main-content {
	padding:			30px 0 60px;
}
#start-img {
	margin-bottom:		15px;
}

@media(min-width: 769px) {
	.navbar-brand {
		font-size:		32px;
	}
	.header-content {
		position:		relative;
		min-height:		100%;
	}
	.bottom-content {
		position:		absolute;
		bottom:			0;
		left:			0;
	}
	.curriculum {
		margin-left:	5%;
	}
	.artwork-title {
		margin-right:	4%;
	}
	.separator {
		display:		initial;
	}
	.vertical-aligner {
		display:		inline-block;
	}
}

@media(max-width: 768px) {
	nav {
		margin:			0 !important;
	}
	br {
		line-height:	0 !important;
	}

	.navbar-brand {
		font-size:		30px;
	}
	.navbar-toggler-icon {
		font-size:		1rem;
	}
	.curriculum {
		padding-left:	0 !important;
	}
	.curriculum .headline {
		margin-left:	20%;
	}
	.curriculum .year {
		width:			15%;
		margin-right:	5%;
	}
	.curriculum .text {
		width:			80%;
	}
	.curriculum .vita-img {
		width:			20%;
		margin-right:	5%;
	}
	.curriculum .vita-headline {
		width:			75%;
	}
	.gallery-cell {
		padding:		0;
	}
	.artwork img {
		max-width:		100%;
	}
	.artwork-info {
		max-width:		90%;
	}
	.artwork-title {
		display:		block;
	}
	.navigator-row {
		display:		table;
	}
	.navigator-icon {
		display:		none;
	}

	#artwork-info-linebreak {
		display:		none;
	}
	#artwork-misc-info {
		font-size:		0.75rem;
	}
	#vita-headline-text {
		font-size:		14px;
	}
	#modal-link	{
		pointer-events: none;
	}
}